html {
    background: url(https://s-media-cache-ak0.pinimg.com/736x/e1/a5/5a/e1a55ae4e151b7d914a3d0ad70aedd14.jpg) bottom center;
    background-size: cover;
    background-repeat: no-repeat;    
}

.keys {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;    
}

.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: .5rem .5rem;
    transition: all .07s ease;
    width: 8rem;
    text-align: center;
    background: rgba(0,0,0,0.4);
    color: white;
    text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

.kbd {
  display: block;
  font-size: 3rem;
}

.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}